@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 241, 241, 241;
  --background-start-rgb: 14, 17, 17;
  --background-end-rgb: 14, 17, 17;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 241, 241, 241;
    --background-start-rgb: 14, 17, 17;
    --background-end-rgb: 14, 17, 17;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
